body {
    font-family: 'Times New Roman', Times, serif;
    margin: 16px 24px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

button {
    font-size: 16px;
    margin: 5px;
}

li {
    font-size: 18px;
    margin-bottom: 5px;
}